.grid__btn {
    width: 223px;
    height: 60px;
    background-color: #F7BC75;
    border-radius: 10px;
    padding: 17px 62px;
    border: 2px solid #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    position: relative;
}

.grid__btn::after {
    content: '';
    position: absolute;
    background: url('../images/icons/about-academi/arrow-right.svg') center center/contain no-repeat;
    height: 15px;
    width: 8px;
    top: 50%;
    right: 25%;
    transform: translateY(-35%);
}