.header__cities {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin-right: 58px;
    height: 70px;
    position: relative;
}

.header__cities::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #F7941D, #27AAE1);
    width: 110%;
    height: 4px;
    bottom: -20px;
    left: 0;
    transform: scale(0);
    transition: transform .3s ease 0s;
}