.header__cities_active::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #F7941D, #27AAE1);
    width: 110%;
    height: 4px;
    bottom: -20px;
    left: 0;
}