.main-screen___title-overlay {
    padding: 115px 0px 215px;
    background-image: url('../../../images/bg/main-screen-title-overlay.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}